<h1>Hello</h1>
<p>Welcome to Transaction Management system.</p>
<p>Features:</p>
<ul>
  <li><a [routerLink]="['/file-upload']" >Transaction file upload</a>.</li>
  <li><a [routerLink]="['/transactions']" >Transaction list view</a>.</li>
</ul>