<h1>Transaction File Upload</h1>

<p>You can upload transactions file here.</p>
<ul>
  <li>Maximum file size is <strong>1MB</strong></li>
  <li>
    Accepted file formats are <strong>.csv</strong> and <strong>.xml</strong>.
  </li>
</ul>

<div>
  <input
    type="file"
    (change)="fileChange($event)"
    placeholder="Upload file"
    accept=".xml,.csv"
  />
</div>
<br />
<div>
  <button class="btn btn-primary" (click)="upload()">Upload</button>
</div>

<hr />

<div *ngIf="uploadResult">
    <h4>Upload Result:</h4>
    <span [ngClass]="uploadSuccess? 'success':'error'" class="raw-text">{{ uploadResult }}</span>
</div>
