<h1 id="tableLabel">Transactions</h1>

<br />

<p *ngIf="!transactions"><em>Loading...</em></p>

<div>
  <form class="form-inline ml-auto" [formGroup]="form" (ngSubmit)="loadTransactions()">
        <input class="form-control" type="date" formControlName="fromDate" placeholder="dd-MMM-yyyy" />
        <select class="custom-select form-control" formControlName="status">
          <option value='' disabled>Status</option>
          <option *ngFor="let status of statusOptions" [ngValue]="status.value">
            {{ status.text }}
          </option>
        </select>
        <input type="text" class="form-control" formControlName="currencyCode" placeholder="Currency Code" maxlength="3" minlength="3" /> 
        <button class="btn btn-primary" type="submit">Search</button>
        <button class="btn btn-secondary" (click)="form.reset()">Clear</button>
  </form>
</div>
<hr />
<div>
  <table class="table table-striped" aria-labelledby="tableLabel" *ngIf="transactions"> 
    <thead>
      <tr>
        <th>Id</th>
        <th>Payment</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.id }}</td>
        <td>{{ transaction.payment }}</td>
        <td>{{ transaction.status }}</td>
      </tr>
    </tbody>
  </table>
</div>
